* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav, footer {
  padding: 1%;
  background-color: #999;
}

header {
  padding: 15%;
}

section {
  padding: 12%;
  background-color: #999;
  min-height: 150px;
}

section:nth-child(even) {
  background-color: #ccc;
}

/* ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#indy {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.contact-icon {
  height: 25%;
  width: 25%;
} */