* {
  box-sizing: border-box;
}

body {
  font-family: 'Chivo', sans-serif;
  text-align: center;
}

header {
  padding: 150px;
  background: url(images/portfolio-pic.jpeg);
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-color: black;
  color: #FFF;
}

section {
  padding: 100px;
  background-color: #999;
}

section:nth-child(even) {
  background-color: #ccc;
}

nav {
  padding: 15px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#bio {
  font-family: 'Overpass', sans-serif;
}

.contact-icon {
  height: 25%;
  width: 25%;
}

#indy {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}